@import 'tailwindcss/components';
/*
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

@layer components {
    h1,
    h2,
    h3,
    h4 {
        @apply font-festive;
    }
}
*/